
extends layout

block content
    h1 SE3316 Twitter 
    p Brought to you by software eng students of Western

    // Wrapper
    #wrapper

        // ADD TWEET
        h2 Add Tweet
        #addTweet
            fieldset
                input#inputTweetName(type='text', placeholder='#yolo #swag')
                button#btnAddTweet Add Tweet
        // /ADD TWEET


        // TWEET LIST
        h2 Past tweets
        #tweetList
            table
                thead
                    th Tweet
                    th Date
                tbody
        // /TWEET LIST

    // /WRAPPER
